/*

Defaults - based on default file and https://github.com/cemerson/PhoneGap-3-Boilerplate/blob/master/www/css/index.css
Landscape: @media screen and (min-aspect-ratio: 1/1)

*/

* { -webkit-tap-highlight-color: rgba(0,0,0,0); outline:0; -webkit-appearance: none; -webkit-user-select: none; }
input { -webkit-user-select: auto; }
html, body { width:100%; height:100%; }
body { -webkit-touch-callout: none; -webkit-text-size-adjust: none; margin:0; padding:0; color:#ddd;  }

/* Flexbox helpers */
.flex-col { display:-webkit-flex; display:flex; -webkit-flex-direction:column; flex-direction:column; }
.flex-scroll { -webkit-flex:1; flex:1; overflow:auto; -webkit-overflow-scrolling: touch; }
.flex-expand { -webkit-flex:1; flex:1; }

/* weblink directive */
weblink a { color:white; text-decoration: none; }
	weblink i { font-size:14px; padding:0 3px; }
	weblink span { text-decoration: underline; }

/* Header */
.topcoat-navigation-bar {
  background-color: #a71930;
  padding: 0;
}
.topcoat-navigation-bar__item { position:static;}
.topcoat-icon-button, .btn-topright { 
  height: 70px;
  float:right; 
  margin-top: -1px;
  color: #f8f8f8;
  border: 0;
  border-left: 1px solid #333;
  //border-bottom: 1px solid #333;
  background-color: #91162a;
  border-radius: 0;
  min-width: 58px;
}
.topcoat-icon { 
  font-size: 18px;
  line-height: 22px;

}

/* Bottom nav */
nav-button { display:table-cell; width:100%; }
	.topcoat-tab-bar__item { display:block; }
		.topcoat-tab-bar__item > input { display:none !important;}
		.topcoat-tab-bar__button { font-size:12px; line-height:1.4; padding:0; }
		.topcoat-tab-bar__button i { display:block; font-size:20px; padding:5px 0 }

/* if-ajax directive */
.load-error { text-align:center; color:#cc3333; }
.loading { text-align:center; margin:5px 0; }

/* Hours page */
.hours h2, .hours h3, .hours p { text-align: center; font-weight:normal; }
.hours h3 {
  margin-bottom: 0px;
  background-color: #222;
  color: #7fd5c5;
  padding: 8px;
}
.hours table { width: 100%; }
.hours td:first-child { 
    text-align:right; 
    background-color: #454545;
    padding-right: 9px;
}
.hours td:nth-child(2) {
  background-color: #595b5b;
  padding-left: 9px;
}
	.hours td { width:50%; }

/* chevlink helper */
.chevlink { display:block; color:white; padding:1.25rem; cursor:pointer; display:-webkit-flex; display:flex; align-items:center; -webkit-align-items:center; }
	.chevlink span { flex:1;-webkit-flex:1;display:block;}
		.chevlink small { color:#777; font-size:14px; display:block; }

/* infopage helper */
.infopage { padding:15px; line-height:1.5; }
	.infopage * { -webkit-user-select: auto; cursor:text; }
	.infopage h2, .infopage p { margin:0;  }
	

/* People page */
.pplPage .topcoat-list__item:first-child { border-top: 1px solid #616363; }
.pplPage ol { border-top-width:0;}
.noResults { margin-top:0; line-height:70px; text-align: center; color:#999; }
.peopleSearch, .peopleSearch:focus {  border:none; box-shadow:none; border-radius:0; padding-left:3rem; line-height:normal; border-bottom:1px solid #333434; }

/* Events page */
.no-events-span { float:right;color:#999; }

/* Calendar - based on: http://codepen.io/miroot/pen/aHCIg */
.cal-content, .cal-header { position: relative; width: 100%; text-align:center; border-spacing:0; }
	.cal-header td, .cal-content td { padding:0; }
.cal-header { background:#A71C30; font-size:140%; font-weight:300; text-transform:uppercase;  cursor:default; }
	.cal-header h2 { margin:0; font-size:.8em; letter-spacing:1px; }
	.cal-header i { height:50px; line-height: 50px; display:block; padding:0 5px; }
.cal-content { table-layout:fixed; width:100%; border-spacing:0; border-collapse: collapse; }
	.cal-content td { background:#eee; border: 1px solid #ccc;  font-size:18px; cursor:pointer; color:#555; width: 100%; }
.cal-view-month .cal-other-month { background:#ddd; }
.cal-content .current { position:relative; background: #65C4B0;  color:#000; }
.cal-view-shortWeek .current { border-top-color: #65C4B0; border-bottom-color:#65C4B0; }
.cal-view-shortWeek td { padding:5px 0;}
.dayName { display:block; font-size:0.8em;}

/* See: http://www.bar54.de/2013/12/phonegap-app-fix-ios-7-status-bar/ */
 .ios7 #ios7statusbar {
	height:20px;
	background-color:#595b5b;
}

/* For AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
